<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Ceaser</h1>
        {{greeting}}
    </header>
    <main>
        <textarea name="input" id="" cols="12" rows="12">dauletsuper?</textarea>
        <button name="send" type="button">
            Dauletsuper
        </button>
    </main>
</body>
</html>